<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
<img src="../../../assets/images/Image_factory.png" alt="">
<ion-row>
  <ion-col class="row-text" size="12" text-center>
    <h2>What do we do?</h2>
    <p>With more than 17 years of experience in the manufacture of table linens, interior decoration and organization of events;we guarantee excellent service with quality materials and current designs.</p>
  </ion-col>
</ion-row>
<img src="../../../assets/images/Image_wdwd.png" alt="" style="width: 100%; height:auto">
<ion-row>
    <ion-col class="row-text" size="12" text-center>
      <h2>Your desire, our work</h2>
      <p>We are constantly reinventing ourselves to be at the forefront of the latest trends in design enabling us to provide you with an incomparable experience on your most important occasions.</p>
    </ion-col>
  </ion-row>
  <img src="../../../assets/images/Image_nom.png" alt="" style="width: 100%; height:auto">
  <ion-row>
      <ion-col class="row-text" size="12" text-center>
        <h2>Nothing on mind?</h2>
        <p>Decoaries Corp supports you during those most precious moments, giving you a world of choices in table linens and decorations to meet your needs. ​</p>
      </ion-col>
    </ion-row>
    <img src="../../../assets/images/Image_ydow.png" alt="" style="width: 100%; height: auto">
    <ion-row>
      <ion-col class="row-text" size="12">
        <h2>Contact Us!</h2>
            <ion-label position="floating">Message</ion-label>
            <ion-item>
              <ion-textarea id="message" [(ngModel)]="message" name="message"></ion-textarea>
            </ion-item>
          <ion-button color="success" (click)="onSubmit()" [disabled]="message == ''" expand="block">
            Submit
          </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
